

/* :root{
    --main-bg-color-1: #ffffff; 
    --sub-bg-color-1: #add8e6; 
    --sub-bg-color-2: #add8e6; 
    --sub-bg-color-3: #c9f7f5;

    --font-color-1: #212121; 
    --font-color-2: #455a64; 
    --font-color-3: #008000; 
    --font-color-4: #ff69b4; 
    --font-color-5: #666666; 
    --font-color-6: #333333;
    
    --main-nav-bg-color: #ffffff; 
    --main-nav-font-color: #212121; 
    --main-nav-icon-color: #455a64;
    
    --fixed-nav-logo-color: #212121; 
    --fixed-nav-hover-color: #008000;
    
    --logo-color-1: #ff69b4;
    
    --icon-color: #455a64;
    
    --border-color-1: #cccccc; 
    --border-color-2: #b3b3b3; 
    --border-color-3: #999999;
    
    --quote-color: #008000;
    
    --reservation-form-bg-color: #f7f7f7;
    
    --menu-tab-bg-color: #ffffff; 
    --menu-tab-active-bg-color: #add8e6;
    
    --menu-item-bg-color: #f2f2f2;
    
    --section-sub-heading-color: #455a64; 

}
















:root{
    --main-bg-color-1: #500a1f;
    --sub-bg-color-1: #640e28;
    --sub-bg-color-2: #b9375e;
    --sub-bg-color-3: #871c3a;

    --font-color-1: white;
    --font-color-2: rgba(255, 255, 255, 0.9);
    --font-color-3: #012540;
    --font-color-4: rgb(81, 2, 2);
    --font-color-5: rgba(255, 255, 255, 0.7);
    --font-color-6: #a4a4a4;

    --main-nav-bg-color: rgba(255, 255, 255, 0.4);
    --main-nav-font-color: #071b10;
    --main-nav-icon-color: black;

    --fixed-nav-logo-color: gold;
    --fixed-nav-hover-color: crimson;

    --logo-color-1: rgb(35, 0, 24);
    --logo-color-2: ;

    --icon-color: rgb(238, 122, 193);

    --border-color-1: #c5c764;
    --border-color-2: whitesmoke;
    --border-color-3: rgb(78, 1, 52);

    --quote-color: rgb(153, 255, 167);

    --reservation-form-bg-color: #288b6f;

    --menu-tab-bg-color: rgb(26, 2, 21);
    --menu-tab-active-bg-color: #c7abc1;

    --menu-item-bg-color: #20000c;

    --section-sub-heading-color: #82fecb;
}





:root{
    --background-color-1: #071b10;
    --background-color-2: #08652c;
    --heading-color: #82fecb;
    --font-color: #a8ab30;
    --primary-color: rgb(61, 56, 27);
    --border-color: #c5c764;
    --button-color: #80a416;
    --button-hover-color: #288b6f;
    --white: white;
    --black: black;
    --black-1: rgb(51, 51, 51);
    --color-scheme: light;

    --nav-items-border-bottom: 1px solid rgba(0, 0, 0, 0.07);
} */